# .pretierignore - ignore certain files and folders for `npm run format`
#
# GPLv3 License, Copyright (c) 2023 - 2024 Heiko Lübbe
# WordPress-plugin Zitat-Service Random Quote, see https://github.com/muhme/quote_wordpress
#
# see https://prettier.io/docs/en/ignore.html
#
playwright-report
